/* Custom Scrollbar Styles */
.customScrollbar {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    resize: vertical; /* Define the resize behavior */
    overflow-y: auto; /* Enable vertical scrollbar */
  }
  
  .customScrollbar::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }
  
  .customScrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the color of the track */
  }
  
  .customScrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the thumb */
    border-radius: 6px; /* Add rounded corners to the thumb */
  }
  
  .customScrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change color on hover */
  }
  
  .customPhoneInput{
    width: 623px ;
  }
  @media (min-width: 640px) {
    .customPhoneInput {
     width: 100% !important; 
    }
  }